
<div class="home__container">
  <app-card gameCover="https://m.media-amazon.com/images/I/51NDZ3P221L._AC_UF1000,1000_QL80_.jpg" gameLabel="70% off" gameType="Digital PS4" gamePryce="150,00"></app-card>
  <app-card gameCover="https://1.bp.blogspot.com/-2B_wb2r1JTI/XrAyWicl7FI/AAAAAAAAFrM/j0gaopHY1dkhfa8VPwZvLIqQQh8AbwZhQCEwYBhgL/s1600/LEGO.jpg" gameLabel="20% off" gameType="Midia PS4" gamePryce="600,00"></app-card>
  <app-card gameCover="https://cdn.awsli.com.br/600x450/1224/1224482/produto/177478240/d8ec3a6168.jpg" gameLabel="50% off" gameType="Midia PS4" gamePryce="400,00"></app-card>
</div>
